body,html{
margin:0;
height:100%;
background:#05070a;
color:white;
font-family:monospace;
overflow:hidden;
}

#threeCanvas{
position:absolute;
inset:0;
z-index:0;
}

#ui{
position:absolute;
inset:0;
z-index:10;
pointer-events:none;
}

#hud{
position:absolute;
top:10px;
left:10px;
display:flex;
gap:20px;
pointer-events:auto;
}

.panel{
background:rgba(0,0,0,.8);
border:1px solid cyan;
padding:15px;
}

.hidden{display:none;}
